---
import Layout from '../../layouts/Layout.astro'
import 'bootstrap/dist/css/bootstrap.min.css';


import React from "react";
import CompleteButton from '../../components/CompleteButton.jsx';
import DeleteButton from '../../components/DeleteButton.jsx';
import AddButton from '../../components/AddButton.jsx';
import { fetchTasks } from "../../../data/tasks.js";
import { tasks } from "../api/tasks.js";




let className = (completed)=>{
  if(!completed){
    return "text-white col-4"
  }else{
    return "text-white col-4 text-decoration-line-through"
  }
}



//const tasks2 = await fetchTasks();


/*const tasks = await fetch("http://localhost:4321/api/tasks")
  .then(response => response.json())
  .then(arr => {  return arr.data; });
*/



/*const tasks = await fetch("https://prueba-de-concepto.vercel.app/api/tasks")
  .then(response => response.json())
  .then(arr => {  return arr.data; })
  .catch(err=> console.log(err));*/



let lastId = ()=>{
  if(tasks.length>0){
    return tasks[tasks.length-1].id+1;
  }else{
    return 0;
    
  }
}

console.log('ee')
console.log(tasks);
console.log(lastId());

---


<Layout>
    	<div>
        <h1 class="text-white mb-4 mt-3">To Do List</h1>

        <div class="row mb-3">
          <ul class="list-group">
            {tasks.map((task) => (
              <div class="row mb-3">
                <li class={className(task.completed)} id={task.id} >{task.text} </li>
                <CompleteButton id={task.id} completed={task.completed} client:load></CompleteButton>
                <DeleteButton id={task.id} client:load></DeleteButton>
              </div>
            ))}
          </ul>
        <div/>
      </div>


      <AddButton lastId={lastId()} client:load></AddButton>
</Layout>


